openapi: 3.2.0
info:
  title: CertifyOS V2/facility Credentialing Workflows API
  description: ''
  contact: {}
servers:
- url: https://ng-api-production.certifyos.com
  description: Production
- url: https://ng-api-stg.certifyos.com/
  description: Staging (Test Data)
tags:
- name: v2/facility-credentialing-workflows
paths:
  /v2/facility-credentialing-workflows/{id}/steps/move-to-cancel:
    put:
      operationId: FacilityCredentialingWorkflowsV2Controller_moveToCancel
      summary: Cancel Facility Credentialing Workflow
      description: Move a facility credentialing workflow to cancel status.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveToCancelV2Dto'
      responses:
        '204':
          description: Updated.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/facility-credentialing-workflows
      security:
      - BearerAuth: []
  /v2/facility-credentialing-workflows/{id}/steps/move-to-cred-approved:
    put:
      operationId: FacilityCredentialingWorkflowsV2Controller_moveToCredApproved
      summary: Approve Facility Credentialing Workflow
      description: Move a facility credentialing workflow to approved status.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCredStatusChangeMetaDataDtoV2'
      responses:
        '204':
          description: Updated.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/facility-credentialing-workflows
      security:
      - BearerAuth: []
  /v2/facility-credentialing-workflows/{id}/steps/move-to-cred-denied:
    put:
      operationId: FacilityCredentialingWorkflowsV2Controller_moveToCredDenied
      summary: Deny Facility Credentialing Workflow
      description: Move a facility credentialing workflow to denied status.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCredStatusChangeMetaDataDtoV2'
      responses:
        '204':
          description: Updated.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/facility-credentialing-workflows
      security:
      - BearerAuth: []
components:
  schemas:
    MoveToCancelV2Dto:
      type: object
      properties:
        reason:
          type: string
          description: Reason for moving the workflow to cancel
      required:
      - reason
    SetCredStatusChangeMetaDataDtoV2:
      type: object
      properties:
        credStatusDate:
          format: date-time
          type: string
          description: Timestamp at which credentialing was approved/denied.
        medicalDirectorId:
          type: string
          description: ID of the medical director authorized to communicate the approval as assigned by Certify.
  securitySchemes:
    BearerAuth:
      scheme: bearer
      bearerFormat: JWT
      type: http
