openapi: 3.2.0
info:
  title: CertifyOS Forms API
  description: ''
  contact: {}
servers:
- url: https://ng-api-production.certifyos.com
  description: Production
- url: https://ng-api-stg.certifyos.com/
  description: Staging (Test Data)
tags:
- name: forms
paths:
  /forms/submissions:
    post:
      operationId: FormSubmissionController_create
      summary: Create a new form submission.
      description: Creates a new form submission.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      requestBody:
        required: true
        description: Form submission payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFormSubmissionDto'
      responses:
        '201':
          description: Form submission created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSubmissionResponseDto'
        '400':
          description: Invalid request body or missing required fields.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
      tags:
      - forms
      security:
      - BearerAuth: []
  /forms/submissions/{id}:
    get:
      operationId: FormSubmissionController_findOne
      summary: Get a form submission by ID.
      description: Retrieves a single form submission by its unique ID.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: id
        required: true
        in: path
        description: Form submission ID.
        schema:
          type: string
      responses:
        '200':
          description: Form submission found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSubmissionResponseDto'
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Form submission not found.
      tags:
      - forms
      security:
      - BearerAuth: []
components:
  schemas:
    CreateFormSubmissionDto:
      type: object
      properties:
        data:
          type: object
          description: A flexible object for storing any data related to a form submission. This can include details about the form, the submitted data, and metadata about the submission process.
      required:
      - data
    FormSubmissionSubmittedByResponseDto:
      type: object
      properties:
        email:
          type: string
          description: The email of the user who submitted the form.
        user:
          type: object
          description: The user information of the person who submitted the form.
      required:
      - email
    FormSubmissionResponseDto:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the form submission.
          example: d453006f-30e2-4a01-841d-962579531c25
        organizationId:
          type: string
          description: The unique identifier for the client organization within Certify.
        mappedData:
          type: object
          example:
            personalInformation:
              lastName: Smith
              firstName: Karen
              middleName: Ann
              suffix: Jr.
              npi: 1010000226
              caqhId: 12345678
              dateOfBirth: '1961-04-26'
              highmarkId: '123456789'
              practitionerType: Medical Doctor
              degree: Medical Doctor
              primarySpecialty: Internal Medicine
              primarySpecialtyRole: PCP
              secondarySpecialty: Infectious Disease
              secondarySpecialtyRole: Specialist
              credentialingContactEmailAddress: credentialing@altoonaprimarycare.com
              credentialingContactName: John Doe
            primaryPracticeLocation:
              buildingLocation: Altoona Medical Suites
              groupNpi: 1010000655
              addressLine1: Address Line 1
              addressLine2: Address Line 2
              city: Altoona
              state: PA
              zip: '16601'
              zipExt: '1234'
              county: Blair County
              fips: '42013'
            credentialingAddress:
              sameAsPrimaryPracticeLocation: true
              buildingLocation: Altoona Medical Suites
              addressLine1: Address Line 1
              addressLine2: Address Line 2
              city: Altoona
              state: PA
              zip: '16601'
              zipExt: '1234'
              county: Blair County
              fips: '42013'
              phoneNumber: 555-555-5555
              phoneExtension: '123'
          description: The mapped responses for the form submission. The structure of this object is flexible and can vary based on the form and its fields. Please request the specific structure from the Certify team if needed.
        submissionData:
          type: object
          description: The raw responses for the form submission. The structure of this object is flexible and can vary based on the form and its fields. Please request the specific structure from the Certify team if needed.
        submissionPdf:
          type: object
          description: The PDF document of the form submission, if available.
        submittedBy:
          description: The flexible data object containing the submitted by information.
          allOf:
          - $ref: '#/components/schemas/FormSubmissionSubmittedByResponseDto'
        form:
          type: object
          description: Information about the form associated with the submission.
        formVersionId:
          type: string
          description: The id of the version of the form used for this submission.
          example: e4dea7d7-6023-4c64-b0f1-777dd0266a02
        createdAt:
          type: string
          description: The date and time when the form submission was created
          example: '2025-01-01T12:00:00Z'
        createdBy:
          type: string
          description: The identifier of the user or system that created the submission.
        updatedAt:
          type: string
          description: The date and time when the form submission was last updated
          example: '2025-01-01T12:00:00Z'
      required:
      - createdAt
      - createdBy
      - updatedAt
  securitySchemes:
    BearerAuth:
      scheme: bearer
      bearerFormat: JWT
      type: http
