openapi: 3.2.0
info:
  title: CertifyOS Auth Tokens API
  description: ''
  contact: {}
servers:
- url: https://ng-api-production.certifyos.com
  description: Production
- url: https://ng-api-stg.certifyos.com/
  description: Staging (Test Data)
tags:
- name: auth-tokens
paths:
  /auth-tokens/v2/api:
    post:
      operationId: AuthTokensController_createApiToken
      summary: 'Obtain an access token with a 24-hour expiry.


        Contact our support team to request the client_id and client_secret.'
      description: Provides an access token to query the APIs
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiAuthTokenDto'
      responses:
        '201':
          description: The record has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenV2ResponseDto'
        '400':
          description: Bad request.
        '401':
          description: 'Unauthorized request because of any of the following reasons:


            1. Wrong client_id or client_secret.


            2. User is not active.


            3. User doesn''t have an organization.'
        '404':
          description: User not found.
      tags:
      - auth-tokens
components:
  schemas:
    CreateApiAuthTokenDto:
      type: object
      properties:
        client_id:
          type: string
          description: ID assigned to Client Organization
        client_secret:
          type: string
          description: Secret assigned to Client Organization
        grant_type:
          type: string
          description: This is always “client”
      required:
      - client_id
      - client_secret
    AccessTokenV2ResponseDto:
      type: object
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
      required:
      - access_token
  securitySchemes:
    BearerAuth:
      scheme: bearer
      bearerFormat: JWT
      type: http
