openapi: 3.2.0
info:
  title: CertifyOS V2/credentialing Workflows API
  description: ''
  contact: {}
servers:
- url: https://ng-api-production.certifyos.com
  description: Production
- url: https://ng-api-stg.certifyos.com/
  description: Staging (Test Data)
tags:
- name: v2/credentialing-workflows
paths:
  /v2/credentialing-workflows/{id}/steps/move-to-cred-approved:
    put:
      operationId: CredentialingWorkflowsV2Controller_moveToCredApproved
      summary: Approve Provider Credentialing Workflow
      description: "Move a provider credentialing workflow to approved status.<br/><br/>\n     Approval Criteria<br/>\n      - The workflow must exist and be accessible to the current organization and user.<br/>\n      - The workflow can only be approved by Medical Director or Provisional Approver.<br/>\n      - The workflow must be in state (PSV ready, Tabled, Hold for Cred Comm) that allows the \n        requested transition.<br/>\n      - Once the workflow is in the approved state, it cannot be reverted by any user besides Supervisor.<br/>"
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCredStatusChangeMetaDataDtoV2'
      responses:
        '204':
          description: Updated.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/credentialing-workflows
      security:
      - BearerAuth: []
  /v2/credentialing-workflows/{id}/steps/move-to-cred-denied:
    put:
      operationId: CredentialingWorkflowsV2Controller_moveToCredDenied
      summary: Deny Provider Credentialing Workflow
      description: "Move a provider credentialing workflow to denied status.<br/><br/>\n      Denial Criteria<br/>\n      - The workflow must exist and be accessible to the current organization and user.<br/>\n      - The workflow can only be denied by Medical Director or Provisional Approver.<br/>\n      - The workflow must be in state (PSV ready, Tabled, Hold for Cred Comm) that allows the \n        requested transition.<br/>\n      - Once the workflow is in the denied state, it cannot be reverted by any user besides Supervisor.<br/>"
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCredStatusChangeMetaDataDtoV2'
      responses:
        '204':
          description: Updated.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/credentialing-workflows
      security:
      - BearerAuth: []
  /v2/credentialing-workflows/{id}/steps/move-to-tabled:
    put:
      operationId: CredentialingWorkflowsV2Controller_moveToTabled
      summary: Table Provider Credentialing Workflow
      description: "Move a provider credentialing workflow to tabled status.<br/><br/>\n      Tabled Criteria<br/>\n      - The workflow must exist and be accessible to the current organization and user.<br/>\n      - The workflow can only be tabled by Medical Director or Provisional Approver.<br/>\n      - The workflow must be in state (PSV ready, Hold for Cred Comm) that allows the requested transition.<br/>"
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: Updated.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/credentialing-workflows
      security:
      - BearerAuth: []
  /v2/credentialing-workflows/{id}/steps/move-to-cancel:
    put:
      operationId: CredentialingWorkflowsV2Controller_moveToCredCancel
      summary: Cancel Provider Credentialing Workflow
      description: "Move a provider credentialing workflow to cancel status.<br/><br/>\n      Cancellation Criteria<br/>\n      - The workflow must exist and be accessible to the current organization and user.<br/>\n      - The workflow can only be approved by Credentialing User, Supervisor, Medical Director or Provisional Approver.<br/>\n      - Once the workflow is in the cancelled state, it cannot be reverted by any user besides Supervisor.<br/>"
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveToCancelV2Dto'
      responses:
        '204':
          description: Updated.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/credentialing-workflows
      security:
      - BearerAuth: []
  /v2/credentialing-workflows/{id}/outreach-correspondences:
    get:
      operationId: CredentialingWorkflowsV2Controller_getOutreachCorrespondences
      summary: Get Outreach Correspondences for a Provider Credentialing Workflow
      description: Returns outreach correspondences for the specified workflow with snake_case external field names.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowOutreachCorrespondencesResponseDto'
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/credentialing-workflows
      security:
      - BearerAuth: []
components:
  schemas:
    OutreachAttachmentDto:
      type: object
      properties:
        content:
          type: string
        disposition:
          type: string
        filename:
          type: string
        type:
          type: string
    WorkflowOutreachCorrespondencesResponseDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowOutreachCorrespondenceDto'
        count:
          type: number
          example: 10
      required:
      - data
      - count
    SetCredStatusChangeMetaDataDtoV2:
      type: object
      properties:
        credStatusDate:
          format: date-time
          type: string
          description: Timestamp at which credentialing was approved/denied.
        medicalDirectorId:
          type: string
          description: ID of the medical director authorized to communicate the approval as assigned by Certify.
    MoveToCancelV2Dto:
      type: object
      properties:
        reason:
          type: string
          description: Reason for moving the workflow to cancel
      required:
      - reason
    WorkflowOutreachCorrespondenceDto:
      type: object
      properties:
        workflow_id:
          type: string
        organization_id:
          type: string
        provider_id:
          type: string
        outreach_correspondence_id:
          type: string
        data:
          $ref: '#/components/schemas/OutreachCorrespondenceDataDto'
        created_at:
          type: string
          example: '2024-01-01T00:00:00.000Z'
        created_by:
          type: string
        created_by_name:
          type: string
        updated_by:
          type: string
        id:
          type: string
        method:
          type: string
        note:
          type: string
        reason:
          type: array
          items:
            type: string
        outcome:
          type: string
        direction:
          type: string
        phone:
          type: string
        sg_message_id:
          type: string
        root_message_id:
          type: string
      required:
      - workflow_id
      - organization_id
      - data
      - id
    OutreachCorrespondenceDataDto:
      type: object
      properties:
        to:
          example:
          - user@example.com
          type: array
          items:
            type: string
        reason:
          type: string
        subject:
          type: string
        body:
          type: string
        entityType:
          type: string
        entityId:
          type: string
        numberOfAttachments:
          type: number
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/OutreachAttachmentDto'
        ccEmailAddress:
          type: string
  securitySchemes:
    BearerAuth:
      scheme: bearer
      bearerFormat: JWT
      type: http
