openapi: 3.2.0
info:
  title: CertifyOS V2/provider API
  description: ''
  contact: {}
servers:
- url: https://ng-api-production.certifyos.com
  description: Production
- url: https://ng-api-stg.certifyos.com/
  description: Staging (Test Data)
tags:
- name: v2/provider
paths:
  /v2/provider:
    post:
      operationId: ProviderV2Controller_create
      summary: Create Provider
      description: Add a provider to the organization
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderDtoV2'
      responses:
        '201':
          description: The record has been successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  provider_id:
                    type: string
                    example: sfas12345
                  is_created:
                    type: boolean
                    example: false
        '400':
          description: Bad request because the wrong parameters are provided in the request body.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
    get:
      operationId: ProviderV2Controller_findOne
      summary: Retrieve all available information for a provider.
      description: "Fetches comprehensive details about a provider, \n      including optional related data such as credentialing workflows, \n      all sections data (state-licenses, board certifications, dea, etc.), \n      signed URLs for supporting documents/ attachments, verifier info, group info, and \n      sanction items based on the provided query parameters."
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: npi
        required: false
        in: query
        schema:
          type: string
      - name: external_id
        required: false
        in: query
        schema:
          type: string
      - name: provider_id
        required: false
        in: query
        schema:
          type: string
      - name: includeCredentialingWorkflows
        required: true
        in: query
        description: Include credentialing workflows with PSV url.
        schema:
          default: true
          type: boolean
      - name: includeFullData
        required: true
        in: query
        description: Include full data from every section.
        schema:
          default: true
          type: boolean
      - name: signUrls
        required: true
        in: query
        description: Sign Document URLs for immediate access.
        schema:
          default: true
          type: boolean
      - name: includeVerified
        required: true
        in: query
        description: Included VerifiedBy User info.
        schema:
          default: true
          type: boolean
      - name: includeGroupInfo
        required: true
        in: query
        description: Include group info.
        schema:
          default: false
          type: boolean
      - name: includeSanctionItems
        required: true
        in: query
        description: Include sanction items.
        schema:
          default: false
          type: boolean
      responses:
        '200':
          description: Provider Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderV2ResponseDto'
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Provider was not found
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/attested-data:
    post:
      operationId: ProviderV2Controller_createAttestedProviderData
      summary: Save attested provider data
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAttestedProviderDataDto'
      responses:
        '201':
          description: The record has been successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        '400':
          description: Bad request because the wrong parameters are provided in the request body.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
    get:
      operationId: ProviderV2Controller_getttestedProviderData
      summary: Fetch attested provider data
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAttestedProviderDataDto'
        '400':
          description: Bad request because the wrong parameters are provided in the request body.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/attested-data/documents:
    post:
      operationId: ProviderV2Controller_uploadProviderDocuments
      summary: Upload Provider Attested Data Document
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateAttestedProviderDocumentDto'
      responses:
        '201':
          description: The record has been successfully created.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/supporting-documents/{supportingDocumentId}/signed-url:
    get:
      operationId: ProviderV2Controller_getDocumentSignedUrl
      summary: Retrieve signed url of a given supporting-document id.
      description: "Retrieves a signed URL for the specified supporting document ID associated with the provider. \n      The signed URL provides secure, temporary access to the document and remains valid for 10 minutes."
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      - name: supportingDocumentId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Signed URL
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: "Signed URL was not found because of the following reasons:\n\n      1. Provider was not found.\n\n      2. Supporting document with the id was not found."
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/survey-responses:
    get:
      operationId: ProviderV2Controller_findAllSurveyResponses
      summary: Lists all provider survey responses in an organization
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The starting index for pagination, specifying how many records to skip.
        schema:
          minimum: 0
          default: 0
          type: number
      - name: limit
        required: false
        in: query
        description: The maximum number of records to retrieve in a single request.
        schema:
          default: 10
          type: number
      - name: version
        required: false
        in: query
        description: Version of the desired survey response
        schema:
          type: number
      responses:
        '200':
          description: Survey responses
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  count:
                    type: number
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/outreaches:
    get:
      operationId: ProviderV2Controller_findAllOutreaches
      summary: Lists all provider email outreaches in an organization
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The starting index for pagination, specifying how many records to skip.
        schema:
          minimum: 0
          default: 0
          type: number
      - name: limit
        required: false
        in: query
        description: The maximum number of records to retrieve in a single request.
        schema:
          default: 10
          type: number
      responses:
        '200':
          description: List of provider email outreaches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOutreachResponseDto'
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/caqh-data:
    get:
      operationId: ProviderV2Controller_findProviderCaqhData
      summary: Retrieve CAQH data for a provider
      description: Returns the CAQH (Council for Affordable Quality Healthcare) data for the specified provider. This data includes provider credentialing and demographic information as stored in CAQH.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        description: The unique identifier of the provider whose CAQH data is to be retrieved.
        schema:
          type: string
      responses:
        '200':
          description: CAQH Data for the provider.
          content:
            application/json:
              schema:
                type: object
                properties:
                  practitionerInformation:
                    type: object
                    additionalProperties: false
                    properties:
                      caqhProviderId:
                        type: integer
                      firstName:
                        type: string
                      middleName:
                        type: string
                      lastName:
                        type: string
                      suffix:
                        type: string
                      gender:
                        type: string
                      birthDate:
                        type: string
                        format: date-time
                      ssn:
                        type: string
                      personalEmail:
                        type: string
                      personalFaxNumber:
                        type: string
                      primaryEmail:
                        type: string
                      ethnicity:
                        type: string
                      raceEthnicity:
                        type: array
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            raceEthnicityLevel1:
                              type: string
                            raceEthnicityLevel2:
                              type: array
                              items:
                                type: object
                                additionalProperties: false
                                properties:
                                  raceEthnicityLevel2Name:
                                    type: string
                      languagesSpoken:
                        type: array
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            name:
                              type: string
                      birthCountry:
                        type: string
                      primaryPracticeState:
                        type: string
                      otherPracticeState:
                        type: array
                        items:
                          type: string
                      mailingAddress:
                        type: object
                        additionalProperties: false
                        properties:
                          address1:
                            type: string
                          address2:
                            type: string
                          city:
                            type: string
                          state:
                            type: string
                          zipCode:
                            type: string
                          country:
                            type: string
                      homePhoneNumber:
                        type: string
                      practiceSetting:
                        type: string
                      citizenshipCountry:
                        type: string
                      workPermitStatus:
                        type: string
                      usWorkEligibleFlag:
                        type: boolean
                      visaNumber:
                        type: string
                      practitionerType:
                        type: object
                        additionalProperties: false
                        properties:
                          name:
                            type: string
                      homeAddress:
                        type: object
                        additionalProperties: false
                        properties:
                          address1:
                            type: string
                          address2:
                            type: string
                          city:
                            type: string
                          state:
                            type: string
                          zipCode:
                            type: string
                          country:
                            type: string
                  practitionerProfileDetail:
                    type: object
                    additionalProperties: false
                    properties:
                      practitionerStatus:
                        type: object
                        additionalProperties: false
                        properties:
                          name:
                            type: string
                      lastAttestationDate:
                        type: string
                        format: date-time
                      attestId:
                        type: string
                      practitionerStatusDate:
                        type: string
                        format: date-time
                  healthPlanPractitionerDetail:
                    type: object
                    additionalProperties: false
                    properties:
                      proViewRosteredOnDate:
                        type: string
                        format: date-time
                      practitionerAuthorizationFlag:
                        type: boolean
                      practitionerAuthorizationDate:
                        type: string
                        format: date-time
                      practitionerLastRecredentialDate:
                        type: string
                        format: date-time
                      practitionerNextRecredentialDate:
                        type: string
                        format: date-time
                  practitionerProfessionalId:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        practitionerLicense:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              licenseState:
                                type: string
                              licenseNumber:
                                type: string
                              issueDate:
                                type: string
                                format: date-time
                              expirationDate:
                                type: string
                                format: date-time
                              currentlyPracticeInStateFlag:
                                type: boolean
                              licenseCategory:
                                type: string
                              licenseType:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                              licenseStatus:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                        practitionerNpi:
                          type: object
                          additionalProperties: false
                          properties:
                            npiNumber:
                              type: string
                            npiValidatedFlag:
                              type: boolean
                            npiAvailableFlag:
                              type: boolean
                        practitionerCds:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              cdsNumber:
                                type: string
                              cdsState:
                                type: string
                              issueDate:
                                type: string
                                format: date-time
                              expirationDate:
                                type: string
                                format: date-time
                        practitionerDea:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              deaNumber:
                                type: string
                              deaState:
                                type: string
                              issueDate:
                                type: string
                                format: date-time
                              expirationDate:
                                type: string
                                format: date-time
                              deaLicenseUnlimitedFlag:
                                type: boolean
                              deaApplicationSubmitDate:
                                type: string
                                format: date-time
                        practitionerMedicare:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              medicareNumber:
                                type: string
                              medicareState:
                                type: string
                        practitionerMedicaid:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              medicaidNumber:
                                type: string
                              medicaidState:
                                type: string
                        practitionerEcfmg:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              ecfmgNumber:
                                type: string
                              ecfmgIssueDate:
                                type: string
                                format: date-time
                              ecfmgExpirationDate:
                                type: string
                                format: date-time
                        ecfmgAvailableFlag:
                          type: boolean
                        upinAvailableFlag:
                          type: boolean
                        upin:
                          type: string
                        deaAvailableFlag:
                          type: boolean
                        medicareParticipationFlag:
                          type: boolean
                        medicaidParticipationFlag:
                          type: boolean
                        modifiedAt:
                          type: string
                          format: date-time
                        createdAt:
                          type: string
                          format: date-time
                  practitionerEducation:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        graduateType:
                          type: object
                          additionalProperties: false
                          properties:
                            name:
                              type: string
                        professionalSchoolFlag:
                          type: boolean
                        practitionerProfessionalSchool:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              institutionName:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                              degree:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                              address:
                                type: object
                                additionalProperties: false
                                properties:
                                  address1:
                                    type: string
                                  address2:
                                    type: string
                                  city:
                                    type: string
                                  state:
                                    type: string
                                  zipCode:
                                    type: string
                                  country:
                                    type: string
                              institutionPhoneNumber:
                                type: string
                              certificateAwarded:
                                type: string
                              startDate:
                                type: string
                                format: date-time
                              endDate:
                                type: string
                                format: date-time
                              completionFlag:
                                type: boolean
                              completionDate:
                                type: string
                                format: date-time
                              incompleteReason:
                                type: string
                  practitionerSpecialExperienceAndTraining:
                    type: object
                    additionalProperties: false
                    properties:
                      adolescents:
                        type: boolean
                      angerManagement:
                        type: boolean
                      anxiety:
                        type: boolean
                      attentionDeficitHyperactivityDisorder:
                        type: boolean
                      autismSpectrumDisorders:
                        type: boolean
                      bipolarDisorder:
                        type: boolean
                      blindnessOrVisualImpairment:
                        type: boolean
                      children:
                        type: boolean
                      childWelfare:
                        type: boolean
                      chronicIllness:
                        type: boolean
                      cooccurringDisorders:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      deafness:
                        type: boolean
                      depression:
                        type: boolean
                      dialecticalBehavioralTherapy:
                        type: boolean
                      genderIdentityDisorder:
                        type: boolean
                      genderNonConformity:
                        type: boolean
                      geriatricBehavioralHealth:
                        type: boolean
                      groupTherapy:
                        type: boolean
                      hivAIDS:
                        type: boolean
                      homelessness:
                        type: boolean
                      lesbianGayBisexual:
                        type: boolean
                      marriageAndFamilyTherapy:
                        type: boolean
                      medicalIllnessAndTherapy:
                        type: boolean
                      medicationManagementAndTherapy:
                        type: boolean
                      militaryVeterans:
                        type: boolean
                      modifiedAt:
                        type: string
                        format: date-time
                      neuropsychologicalTestingAdolescents:
                        type: boolean
                      neuropsychologicalTestingChildren:
                        type: boolean
                      obsessiveCompulsiveDisorder:
                        type: boolean
                      other:
                        type: string
                      peopleWithDisabilities:
                        type: boolean
                      physicalDisabilities:
                        type: boolean
                      playTherapy:
                        type: boolean
                      postpartumDepressionAndOrPsychosis:
                        type: boolean
                      psychologicalTestingAdolescents:
                        type: boolean
                      psychologicalTestingChildren:
                        type: boolean
                      resourceAuthorization:
                        type: object
                        additionalProperties: false
                        properties:
                          message:
                            type: string
                          resource:
                            type: string
                          statusCode:
                            type: string
                      seriousMentalIllness:
                        type: boolean
                      sleepDisorders:
                        type: boolean
                      substanceAbuse:
                        type: boolean
                      transgender:
                        type: boolean
                      trauma:
                        type: boolean
                  practitionerTraining:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        practitionerOtherTraining:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              otherTrainingSpecialty:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                        practitionerPreceptorshipFlag:
                          type: boolean
                        practitionerFellowship:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              institutionName:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                              affiliatedUniversity:
                                type: string
                              startDate:
                                type: string
                                format: date-time
                              endDate:
                                type: string
                                format: date-time
                              fellowshipProgramType:
                                type: string
                              department:
                                type: string
                              fellowshipSpecialty:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                        practitionerResidency:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              institutionName:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                              affiliatedUniversity:
                                type: string
                              startDate:
                                type: string
                                format: date-time
                              endDate:
                                type: string
                                format: date-time
                              residencyProgramType:
                                type: string
                              department:
                                type: string
                              residencySpecialty:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                  practitionerSpecialty:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        otherSpecialty:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              abmsListedFlag:
                                type: boolean
                              boardCertifiedFlag:
                                type: boolean
                              certificateExpirationDate:
                                type: string
                                format: date-time
                              certificationAppliedDate:
                                type: string
                                format: date-time
                              certificationNumber:
                                type: string
                              failedBoardExamAttempts:
                                type: integer
                              failedBoardExamBoardName:
                                type: string
                              failedBoardExamDate:
                                type: string
                                format: date-time
                              failedBoardExamExplanation:
                                type: string
                              failedBoardExamFlag:
                                type: boolean
                              initialCertificationDate:
                                type: string
                                format: date-time
                              lastRecertificationDate:
                                type: string
                                format: date-time
                              listedUnderHMOFlag:
                                type: boolean
                              listedUnderPOSFlag:
                                type: boolean
                              listedUnderPPOFlag:
                                type: boolean
                              listInDirectoryFlag:
                                type: boolean
                              notBoardCertifiedSpecialtyDetails:
                                type: array
                                items:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    admissibilityExpirationDate:
                                      type: string
                                      format: date-time
                                    applicationFormState:
                                      type: string
                                    applyCertificationFlag:
                                      type: boolean
                                    examAcceptedFlag:
                                      type: boolean
                                    examName:
                                      type: string
                                    examTakenDate:
                                      type: string
                                      format: date-time
                                    futureBoardExamDate:
                                      type: string
                                      format: date-time
                                    futureBoardOralExamDate:
                                      type: string
                                      format: date-time
                                    futureBoardWrittenExamDate:
                                      type: string
                                      format: date-time
                                    intendApplyCertificationDate:
                                      type: string
                                      format: date-time
                                    intendApplyCertificationFlag:
                                      type: boolean
                                    intendingBoardFlag:
                                      type: boolean
                                    noCertificationExplanation:
                                      type: string
                                    nonCertifiedStatus:
                                      type: string
                                    notEligibleBoardFlag:
                                      type: boolean
                                    notIntendingBoardFlag:
                                      type: boolean
                                    partialExamFlag:
                                      type: boolean
                                    resourceAuthorization:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        message:
                                          type: string
                                        resource:
                                          type: string
                                        statusCode:
                                          type: string
                                    resultsPendingFlag:
                                      type: boolean
                                    resultsPendingSpecialtyBoardName:
                                      type: string
                                    specialtyStatus:
                                      type: string
                                    statusDate:
                                      type: string
                                      format: date-time
                                    statusExpirationDate:
                                      type: string
                                      format: date-time
                              primarySpecialtyFlag:
                                type: boolean
                              province:
                                type: string
                              recertifiedFlag:
                                type: boolean
                              specialtyBoardAddress:
                                type: object
                                additionalProperties: false
                                properties:
                                  address1:
                                    type: string
                                  address2:
                                    type: string
                                  city:
                                    type: string
                                  state:
                                    type: string
                                  zipCode:
                                    type: string
                                  country:
                                    type: string
                              specialtyBoardName:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                              specialtyName:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                              specialtyNuccTaxonomyCode:
                                type: string
                              specialtyType:
                                type: string
                              subSpecialtyName:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                        practitionerSpecialtyFlag:
                          type: boolean
                        primarySpecialty:
                          type: object
                          additionalProperties: false
                          properties:
                            specialtyType:
                              type: string
                            primarySpecialtyFlag:
                              type: boolean
                            specialtyName:
                              type: object
                              additionalProperties: false
                              properties:
                                name:
                                  type: string
                            subSpecialtyName:
                              type: object
                              additionalProperties: false
                              properties:
                                name:
                                  type: string
                            specialtyBoardName:
                              type: object
                              additionalProperties: false
                              properties:
                                name:
                                  type: string
                            certificationNumber:
                              type: string
                            initialCertificationDate:
                              type: string
                              format: date-time
                            certificateExpirationDate:
                              type: string
                              format: date-time
                            recertifiedFlag:
                              type: boolean
                            specialtyNuccTaxonomyCode:
                              type: string
                        secondarySpecialty:
                          type: object
                          additionalProperties: false
                          properties:
                            specialtyType:
                              type: string
                            primarySpecialtyFlag:
                              type: boolean
                            specialtyName:
                              type: object
                              additionalProperties: false
                              properties:
                                name:
                                  type: string
                            subSpecialtyName:
                              type: object
                              additionalProperties: false
                              properties:
                                name:
                                  type: string
                            specialtyBoardName:
                              type: object
                              additionalProperties: false
                              properties:
                                name:
                                  type: string
                            certificationNumber:
                              type: string
                            initialCertificationDate:
                              type: string
                              format: date-time
                            certificateExpirationDate:
                              type: string
                              format: date-time
                            recertifiedFlag:
                              type: boolean
                            specialtyNuccTaxonomyCode:
                              type: string
                  practitionerAffiliation:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        hospitalAffiliation:
                          type: object
                          additionalProperties: false
                          properties:
                            admittingPrivilegeFlag:
                              type: boolean
                            admittingPrivilege:
                              type: array
                              items:
                                type: object
                                additionalProperties: false
                                properties:
                                  practitionerCredentialingContact:
                                    type: array
                                    items:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        credentialingContactFirstName:
                                          type: string
                                        credentialingContactMiddleName:
                                          type: string
                                        credentialingContactLastName:
                                          type: string
                                        credentialingContactAddress:
                                          type: object
                                          additionalProperties: false
                                          properties:
                                            address1:
                                              type: string
                                            address2:
                                              type: string
                                            city:
                                              type: string
                                            state:
                                              type: string
                                            zipCode:
                                              type: string
                                            country:
                                              type: string
                                        credentialingContactPhoneNumber:
                                          type: string
                                        credentialingContactTitle:
                                          type: string
                                        credentialingContactFaxNumber:
                                          type: string
                                        credentialingContactEmailAddress:
                                          type: string
                                        primaryCredentialingContactFlag:
                                          type: boolean
                                        credentialingContactAvailabilityHours:
                                          type: string
                                  institutionName:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      name:
                                        type: string
                                      nonAhaName:
                                        type: string
                                  address:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      address1:
                                        type: string
                                      address2:
                                        type: string
                                      city:
                                        type: string
                                      state:
                                        type: string
                                      country:
                                        type: string
                                      zipCode:
                                        type: string
                                  phoneNumber:
                                    type: string
                                  startDate:
                                    type: string
                                    format: date-time
                                  endDate:
                                    type: string
                                    format: date-time
                                  department:
                                    type: string
                                  admittingPrivilegeStatus:
                                    type: string
                            admittingArrangementFlag:
                              type: boolean
                            admittingArrangement:
                              type: array
                              items:
                                type: object
                                additionalProperties: false
                                properties:
                                  ahaHospitalId:
                                    type: string
                                  phoneNumber:
                                    type: string
                                  startDate:
                                    type: string
                                    format: date-time
                                  endDate:
                                    type: string
                                    format: date-time
                                  admittingArrangementStatus:
                                    type: string
                            nonAdmittingAffiliationFlag:
                              type: boolean
                            nonAdmittingAffiliation:
                              type: array
                              items:
                                type: object
                                additionalProperties: false
                                properties:
                                  ahaHospitalId:
                                    type: string
                                  institutionName:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      name:
                                        type: string
                                      nonAhaName:
                                        type: string
                                  address:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      address1:
                                        type: string
                                      address2:
                                        type: string
                                      city:
                                        type: string
                                      state:
                                        type: string
                                      country:
                                        type: string
                                      zipCode:
                                        type: string
                                  phoneNumber:
                                    type: string
                                  startDate:
                                    type: string
                                    format: date-time
                                  endDate:
                                    type: string
                                    format: date-time
                                  nonAdmittingAffiliationStatus:
                                    type: string
                  practitionerPracticeLocation:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        activeLocation:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              practiceLimitationFlag:
                                type: boolean
                              emailAddress:
                                type: string
                              practiceLimitation:
                                type: object
                                additionalProperties: false
                                properties:
                                  ageLimitationFlag:
                                    type: boolean
                                  ageLimitationMaximum:
                                    type: string
                                  ageLimitationMinimum:
                                    type: string
                                  otherLimitation:
                                    type: string
                                  specialtyLimitationFlag:
                                    type: boolean
                                  specialtyLimitationDescription:
                                    type: string
                                  genderLimitationType:
                                    type: string
                              healthcareServiceName:
                                type: string
                              phoneCoverage24x7:
                                type: boolean
                              practitionerLocationDetail:
                                type: array
                                items:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    practitionerStartDate:
                                      type: string
                                      format: date-time
                              locationService:
                                type: object
                                additionalProperties: false
                                properties:
                                  laboratoryServicesFlag:
                                    type: boolean
                                  drawingBloodFlag:
                                    type: boolean
                                  cliaCertificateNumber:
                                    type: string
                                  cliaExpirationDate:
                                    type: string
                                    format: date-time
                              locationOfficeManager:
                                type: array
                                items:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    officeManagerCredentialingContactFlag:
                                      type: boolean
                                    officeManagerEmailAddress:
                                      type: string
                                    officeManagerFaxNumber:
                                      type: string
                                    officeManagerFirstName:
                                      type: string
                                    officeManagerLastName:
                                      type: string
                                    officeManagerMiddleName:
                                      type: string
                                    officeManagerPhoneNumber:
                                      type: string
                                    primaryContactFlag:
                                      type: boolean
                              caqhLocationId:
                                type: string
                              officeType:
                                type: object
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                              standardizedLocationID:
                                type: string
                              parentOrganization:
                                type: object
                                additionalProperties: false
                                properties:
                                  organizationTaxId:
                                    type: array
                                    items:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        taxIdNumber:
                                          type: string
                                  organizationId:
                                    type: string
                                  organizationName:
                                    type: string
                              healthcareServicePrimaryTaxID:
                                type: object
                                additionalProperties: false
                                properties:
                                  taxIdNumber:
                                    type: string
                              healthcareServiceType2Npi:
                                type: array
                                items:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    npiNumber:
                                      type: string
                              healthcareServiceTaxId:
                                type: array
                                items:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    taxIdNumber:
                                      type: string
                                    taxIdType:
                                      type: string
                                    taxIdGroupName:
                                      type: string
                              locationType2Npi:
                                type: array
                                items:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    npiNumber:
                                      type: string
                              locationTaxId:
                                type: array
                                items:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    taxIdNumber:
                                      type: string
                              address:
                                type: object
                                additionalProperties: false
                                properties:
                                  address1:
                                    type: string
                                  address2:
                                    type: string
                                  city:
                                    type: string
                                  state:
                                    type: string
                                  country:
                                    type: string
                                  zipCode:
                                    type: string
                              mailingAddress:
                                type: object
                                additionalProperties: false
                                properties:
                                  address1:
                                    type: string
                                  address2:
                                    type: string
                                  city:
                                    type: string
                                  state:
                                    type: string
                                  country:
                                    type: string
                                  zipCode:
                                    type: string
                              locationHours:
                                type: array
                                items:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    dayOfweek:
                                      type: string
                                    startHours:
                                      type: string
                                    endHours:
                                      type: string
                                    createdAt:
                                      type: string
                                      format: date-time
                                    modifiedAt:
                                      type: string
                                      format: date-time
                              locationSpecialty:
                                type: array
                                items:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    specialty:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        name:
                                          type: string
                                    subSpecialty:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        name:
                                          type: string
                  practitionerEmploymentInformation:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        employerName:
                          type: string
                        startDate:
                          type: string
                          format: date-time
                        endDate:
                          type: string
                          format: date-time
                        department:
                          type: string
                        title:
                          type: string
                        employerPhoneNumber:
                          type: string
                        employerPhoneExtn:
                          type: string
                        employerFaxNumber:
                          type: string
                        employerEmailAddress:
                          type: string
                        employerAddress:
                          type: object
                          additionalProperties: false
                          properties:
                            address1:
                              type: string
                            address2:
                              type: string
                            city:
                              type: string
                            state:
                              type: string
                            zipCode:
                              type: string
                            country:
                              type: string
                  practitionerEmploymentGap:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        gapStartDate:
                          type: string
                          format: date-time
                        gapEndDate:
                          type: string
                          format: date-time
                        gapExplanation:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              gapExplanationName:
                                type: string
                  practitionerCertification:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        certificationName:
                          type: string
                        certificationType:
                          type: string
                        certificationState:
                          type: string
                        certificationNumber:
                          type: string
                        certificationObtainedDate:
                          type: string
                          format: date-time
                        certificationExpirationDate:
                          type: string
                          format: date-time
                  practitionerDocument:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        documentID:
                          type: string
                        documentName:
                          type: string
                        documentStatus:
                          type: string
                        documentType:
                          type: string
                  practitionerClinicalPractice:
                    type: object
                    additionalProperties: false
                    properties:
                      fullTimeFlag:
                        type: boolean
                  practitionerProfessionalLiabilityInsurance:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        insuranceCarrierName:
                          type: string
                        policyNumber:
                          type: string
                        renewalDate:
                          type: string
                          format: date-time
                        occurrenceCoverageAmount:
                          type: number
                        aggregateCoverageAmount:
                          type: number
                        policyHolder:
                          type: string
                        pliCoverageType:
                          type: object
                          additionalProperties: false
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        policyEffectiveDate:
                          type: string
                          format: date-time
                        policyExpirationDate:
                          type: string
                          format: date-time
                        policyCurrentEffectiveDate:
                          type: string
                          format: date-time
                        individualCoverageFlag:
                          type: boolean
                        insuranceType:
                          type: string
                        unlimitedCoverageFlag:
                          type: boolean
                  providerId:
                    type: string
                  updatedAt:
                    type: string
                    format: date-time
                  updatedBy:
                    type: string
                  updatedByName:
                    type: string
                  workflowSource:
                    type: string
                  practitionerDisclosure:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        disclosureQuestionDetail:
                          type: string
                        disclosureAnswerFlag:
                          type: boolean
                        disclosureAnswerDetail:
                          type: string
                        disclosureDate:
                          type: string
                          format: date-time
                        practitionerAdverseAction:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              occurrenceExplanation:
                                type: string
                              actionDate:
                                type: string
                                format: date-time
                        practitionerProfessionalLiabilityAction:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              carrierName:
                                type: string
                              policyNumber:
                                type: string
                              coverageStartDate:
                                type: string
                                format: date-time
                              coverageEndDate:
                                type: string
                                format: date-time
                        practitionerMedicareMedicaidSanctions:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              disciplinaryActions:
                                type: string
        '400':
          description: Invalid input parameters.
        '401':
          description: Authorization token is missing or invalid.
        '403':
          description: User does not have permission to access this resource.
        '404':
          description: No CAQH data found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/credentialing-workflows:
    post:
      operationId: ProviderV2Controller_createCredentialingWorkflow
      summary: Creates a credentialing workflow for the provider.
      description: "Initiates a new credentialing workflow for the specified \n      provider. The workflow will automatically trigger the pipeline to \n      fetch the required provider information needed for credentialing."
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Credentialing workflow ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  providerId:
                    type: string
        '201':
          description: ''
        '400':
          description: "Bad request because of any of the following reasons:\n\n    1. Wrong parameters provided in the request.\n\n    2. Workflow exists in not complete state for the provider."
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Provider is not found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/psv/signed-url:
    get:
      operationId: ProviderV2Controller_gePSVPdfSignedUrl
      summary: Retrieve signed URL for provider PSV PDF
      description: Returns a signed URL for downloading the PSV (Primary Source Verification) PDF for the specified provider. The signed URL is time-limited and allows secure access to the PSV document.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        description: The unique identifier of the provider whose PSV PDF signed URL is to be retrieved.
        schema:
          type: string
      responses:
        '200':
          description: Signed URL for the provider PSV PDF.
          content:
            application/json:
              schema:
                example:
                  signedUrl: https://storage.googleapis.com/bucket/psv.pdf?X-Goog-Signature=...
        '400':
          description: Invalid input parameters.
        '401':
          description: Authorization token is missing or invalid.
        '403':
          description: User does not have permission to access this resource.
        '404':
          description: Provider or PSV PDF not found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/groups:
    put:
      operationId: ProviderV2Controller_modifyProviderOrgEntities
      summary: Modify groups associated to a provider
      description: Modifies the groups (org-entities) associated with a provider.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateProviderV2GroupDto'
      responses:
        '200':
          description: The record has been successfully updated.
        '400':
          description: Bad request because the wrong parameters are provided in the request body.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
    get:
      operationId: ProviderV2Controller_getProviderGroups
      summary: Retrieve groups/ org-entities for a provider.
      description: Fetches all the groups (org-entities) associated with a provider.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Provider Groups.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderV2GroupsResponseDto'
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/credentialing-workflow-timelines:
    get:
      operationId: CredentialingWorkflowTimelineV2Controller_getCredentialingWorkflowTimelines
      summary: Retrieve credentialing workflow timelines for a provider
      description: Returns a list of credentialing workflow timeline records for the specified provider within the organization. Each record contains credentialing status, cycle, dates, and related metadata.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        description: The unique identifier of the provider whose credentialing workflow timelines are being retrieved.
        schema:
          type: string
      responses:
        '200':
          description: Credentialing workflow timelines
          schema:
            example:
            - credentialingWorkflowId: workflow123
              credentialingStatus: Active
              credentialingCycle: Initial
              providerId: provider456
              organizationId: org789
              orgEntity:
                id: entity1
                name: Group A
              medicalDirectorId: md123
              medicalDirectorName: Dr. Smith
              receivedForCredentialingDate: '2024-01-01'
              attestationDate: '2024-01-02'
              initialCredentialingDate: '2024-01-03'
              lastCredentialedDate: '2024-01-04'
              psvCompleteDate: '2024-01-05'
              credentialingDecisionDate: '2024-01-06'
              nextCredentialingDate: '2025-01-01'
              updatedAt: '2024-01-07'
              updatedByName: Jane Doe
              updatedBy: user123
              createdAt: '2024-01-01'
              createdBy: user456
              createdByName: John Doe
              decisionEnteredById: user789
              decisionEnteredByName: Dr. Reviewer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CredentialingWorkflowTimelineV2ResponseDto'
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/professional-ids:
    post:
      operationId: ProfessionalIdsV2Controller_createMany
      summary: Create Bulk Provider Professional IDs
      description: Create multiple professional IDs for a provider
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfessionalIdsV2Dto'
      responses:
        '201':
          description: Professional IDs created successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProfessionalIdResponseV2Dto'
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/specialties:
    get:
      operationId: SpecialtiesV2Controller_findAll
      summary: Get list of provider specialties
      description: Retrieves a list of specialties for the specified provider.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The starting index for pagination, specifying how many records to skip.
        schema:
          minimum: 0
          default: 0
          type: number
      - name: limit
        required: false
        in: query
        description: The maximum number of records to retrieve in a single request.
        schema:
          default: 10
          type: number
      responses:
        '200':
          description: List of specialties
          content:
            application/json:
              schema:
                example:
                - id: string
                  specialty_nucc_taxonomy_code: string
                  name: string
                  is_primary: true
                  sub_specialties:
                  - specialty_nucc_taxonomy_code: string
                    name: string
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
    post:
      operationId: SpecialtiesV2Controller_create
      summary: Create provider specialties
      description: Create a specialty with optional sub-specialties
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpecialtiesV2Dto'
      responses:
        '201':
          description: Specialty created successfully.
        '400':
          description: Invalid request body.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
  /v2/provider/{providerId}/specialties/{specialtyId}:
    patch:
      operationId: SpecialtiesV2Controller_update
      summary: Update provider specialty
      description: Update specialty details with optional sub-specialties
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      - name: specialtyId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpecialtiesV2Dto'
      responses:
        '204':
          description: Updated.
        '400':
          description: Invalid request body.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
    delete:
      operationId: SpecialtiesV2Controller_delete
      summary: Delete provider specialty
      description: Deletes a specialty for the specified provider.
      parameters:
      - name: organization-id
        in: header
        schema:
          type: string
      - name: providerId
        required: true
        in: path
        schema:
          type: string
      - name: specialtyId
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: Deleted.
        '401':
          description: Unauthorized if authorization token is not provided or invalid.
        '403':
          description: Forbidden if user access is not right.
        '404':
          description: Resource not found.
      tags:
      - v2/provider
      security:
      - BearerAuth: []
components:
  schemas:
    LiabilityInsurance:
      type: object
      properties:
        carrier_name:
          $ref: '#/components/schemas/FieldValueWithDescription'
        policy_number:
          $ref: '#/components/schemas/FieldValueWithDescription'
        policy_expiration:
          $ref: '#/components/schemas/FieldValueWithDescription'
        occurence_amount:
          $ref: '#/components/schemas/FieldValueWithDescription'
        general_aggregate_amount:
          $ref: '#/components/schemas/FieldValueWithDescription'
        document:
          type: string
      required:
      - carrier_name
      - policy_number
      - policy_expiration
      - occurence_amount
      - general_aggregate_amount
      - document
    ProfessionalIdResponseV2Dto:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the professional ID
        type:
          enum:
          - Medicare Number
          - Medicaid Number
          - ECFMG Number
          - Foreign National Identification Number
          - Unique Physician Identification Number
          - CLIA
          - DEA
          type: string
          description: Type of professional ID
        number:
          type: string
          description: Professional ID number
        issue_date:
          type: string
          description: Issue date of the professional ID
        expiration_date:
          type: string
          description: Expiration date of the professional ID
        notes:
          type: string
          description: Notes about the professional ID
        state:
          type: string
          description: State associated with the professional ID
        source:
          type: string
          description: Source of the professional ID
      required:
      - id
      - type
      - number
    CreateAttestedProviderDocumentDto:
      type: object
      properties:
        fileType:
          type: string
          description: Type of the file uploading
        organizationId:
          type: string
          description: ID assigned to Client Organization
        workflowId:
          type: string
          description: ID assigned to Workflow
        file:
          type: string
          format: binary
          description: Provider Document
      required:
      - fileType
      - organizationId
      - workflowId
    LicenseDto:
      type: object
      properties:
        type:
          type: string
          description: Type of license (e.g., medical, nursing, etc.)
        expiration:
          type: string
          description: Date the license expires
          example: YYYY-MM-DD
        issue_date:
          type: string
          description: Date the license was issued
          example: YYYY-MM-DD
        license_number:
          type: string
          description: Unique license number assigned by the issuing authority
        state:
          type: string
          description: State or jurisdiction where the license is issued
        status:
          type: string
          description: Current status of the license (e.g., active, expired, suspended)
        id:
          type: string
          description: Unique identifier for the license record
        license_type:
          type: string
          description: Type/category of the license (e.g., MD, RN, DO)
        license_status:
          type: string
          description: Status of the license
          enum:
          - Active
          - Expired
          - Inactive
          - Lapsed
          - Limited
          - Locum Tenens
          - Military
          - Probation
          - Retired
          - Revoked
          - Surrendered
          - Superseded
          - Suspended
          - Temporary
        source:
          type: string
          description: Source from which the license information was obtained
        report_date:
          type: string
          description: Date the license report was generated
          example: YYYY-MM-DD
        verified_by:
          type: string
          description: Name of the person or system that verified the license
        verified_date:
          type: string
          description: The date at which the license was verified.
          example: YYYY-MM-DD
        first_name:
          type: string
          description: First name of the license holder (if available)
        last_name:
          type: string
          description: Last name of the license holder (if available)
        middle_name:
          type: string
          description: Middle name of the license holder (if available)
      required:
      - type
      - expiration
      - issue_date
      - license_number
      - state
      - status
      - id
      - license_type
      - license_status
      - source
      - report_date
      - verified_by
      - verified_date
    RaceEthnicityLevel2Dto:
      type: object
      properties:
        raceEthnicityLevel2Name:
          type: string
        raceEthnicityLevel3:
          type: array
          items:
            $ref: '#/components/schemas/RaceEthnicityLevel3Dto'
      required:
      - raceEthnicityLevel2Name
      - raceEthnicityLevel3
    EducationTrainingDto:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the education or training record
        source:
          type: string
          description: Source from which the education training information was obtained (e.g., Application, Primary Source Verification)
          enum:
          - Verified through Licensing Board/Agency
          - Verified through Board Certification
          - Verified by Educational Institution
          - Verified through the AMA
          - Verified by Student Clearinghouse
        type:
          type: string
          description: Type of education training.
          enum:
          - Fellowship
          - Residency
          - Professional
          - Internship
        degree:
          type: string
          description: Degree awarded
          enum:
          - Bachelor of Arts (BA)
          - Bachelor of Accountancy (BAcc)
          - Bachelor of Architecture (BArch)
          - Bachelor of Business Administration (BBA)
          - Bachelor of Commerce (BComm)
          - Bachelor of Computer Science (BCS)
          - Bachelor of Computer Application (BCA)
          - Bachelor of Divinity (BDiv)
          - Bachelor of Economics (BEc)
          - Bachelor of Education (BEd)
          - Bachelor of Engineering (BEng)
          - Bachelor of Fine Arts (BFA)
          - Bachelor of Laws (LLB)
          - Bachelor of Letters (BLitt)
          - Bachelor of Music (BM)
          - Bachelor of Management Studies (BMS)
          - Bachelor of Pharmacy (BPharm)
          - Bachelor of Philosophy (BPhil)
          - Bachelor of Science (BS)
          - Bachelor of Science in Nursing (BSN)
          - Bachelor of Social Work (BSW)
          - Bachelor of Technology (BTech)
          - Bachelor of Theology (BTh)
          - Bachelor of Medicine, Bachelor of Surgery (MBBS)
          - Bachelor of Civil Law (BCL)
          - Licentiate in Sacred Theology (STL)
          - Magister Juris (MJur)
          - Master of Business Administration (MBA)
          - Master of Counselling (MCouns)
          - Master of Divinity (MDiv)
          - Master of Education (MEd)
          - Master of Engineering (MEng)
          - Master of Family Therapy (MFT)
          - Master of Fine Arts (MFA)
          - Master of Health Science (MHS)
          - Master of Laws (LLM)
          - Master of Letters (MLitt)
          - Master of Medicine (MMed)
          - Master of Management Studies (MMS)
          - Master of Philosophy (MPhil)
          - Master of Physician Assistant Studies (MPAS)
          - Master of Psychology (MPsych)
          - Master of Public Administration (MPA)
          - Master of Public Health (MPH)
          - Master of Research (MRes)
          - Master of Sacred Theology (STM)
          - Master of Science (MS)
          - Master of Science in Nursing (MSN)
          - Master of Social Work (MSW)
          - Master of Studies (MSt)
          - Master of Surgery (ChM)
          - Master of Technology (Mtech)
          - Master of Art (MA)
          - Master in Physician Assistant Studies (MSPA)
          - Professional Science Masters (PSM)
          - Doctor of Arts (DA)
          - Doctor of Audiology (AuD)
          - Doctor of Business Administration (DBA)
          - Doctor of Canon Law (JCD)
          - Doctor of Civil Law (DCL)
          - Doctor of Clinical Psychology (DClinPsy)
          - Doctor of Chiropractic (DC)
          - Doctor of Dental Surgery (DDS)
          - Doctor of Divinity (DDiv)
          - Doctor of Education (EdD)
          - Doctor of Juridical Science (JSD)
          - Doctor of Letters (DLitt)
          - Doctor of Medicine (MD)
          - Doctor of Ministry (DMin)
          - Doctor of Naturopathic Medicine (ND)
          - Doctor of Nurse Practice (DNP)
          - Doctor of Osteopathic Medicine (DO)
          - Doctor of Pharmacy (DPharm)
          - Doctor of Philosophy (PhD)
          - Doctor of Physical Therapy (DPT)
          - Doctor of Psychology (PsyD)
          - Doctor of Science (DSc or ScD)
          - Doctor of Social Work (DSW)
          - Doctor of Theology (ThD)
          - Doctor of Veterinary Medicine (DVM)
          - Education Specialist degree (EdS)
          - Juris Doctor (JD)
          - Other Degree
        specialty:
          type: string
          description: Specialty or field of study for the education training
          enum:
          - Acupuncture
          - Acute Care
          - Acute Care Nurse Practitioner
          - Acute/Critical Care Nursing
          - Addiction Medicine
          - Addiction Psychology
          - Administrative Medicine
          - Adult Acute/Critical Care Nursing
          - Adult-Gerontology Acute Care
          - Adult-Gerontology Acute Care Clinical Nurse Specialist
          - Adult-Gerontology Acute Care Nurse Practitioner
          - Adult-Gerontology Clinical Nurse Specialist
          - Adult-Gerontology Primary Care
          - Adult-Gerontology Primary Care Nurse Practitioner
          - Adult Health Clinical Nurse Specialist
          - Adult Nurse Practitioner
          - Adult Psychiatric-Mental Health
          - Adult Psychiatric Mental Health Nurse Practitioner
          - Advanced Certified Hospice and Palliative Nurse
          - Advanced Diabetes Management
          - Advanced Oncology Certified Nurse
          - Aerospace Medicine
          - Allergy and Immunology
          - Ambulatory Care Nurse
          - Anatomic Pathology
          - Anatomic Pathology and Clinical Pathology
          - Anatomic Pathology - General
          - Anesthesiology
          - Assistant Behavior Analyst
          - Audiology
          - Behavioral Analyst
          - Board Certified Assistant Behavior Analyst
          - Board Certified Behavior Analyst
          - Board Certified Behavior Analyst - Doctoral
          - Cardiac Medicine
          - Cardiac Surgery
          - Cardiac/Vascular Nurse
          - Cardiology
          - Cardiovascular and Thoracic Surgery
          - Cardiothoracic Surgery
          - Cardiovascular Computed Tomography
          - Case Management
          - Cataract Surgery
          - Certified Diabetes Care and Education Specialist
          - Certified Hand Therapist
          - Certified Nurse Midwife
          - Certified Pediatric Nurse
          - Certified Registered Nurse Anesthetist
          - Chiropractor
          - Chiropractic Acupuncture
          - Clinical Biochemical Genetics
          - Clinical Child and Adolescent Psychology
          - Clinical Cytogenetics
          - Clinical Electrophysiologic Physical Therapist
          - Clinical Genetics (MD)
          - Clinical Genetics and Genomics (MD)
          - Clinical Health Psychology
          - Clinical Lipidology
          - Clinical Mental Health Counselor
          - Clinical Molecular Genetics
          - Clinical Neurophysiology
          - Clinical Nurse Specialist
          - Clinical Nurse Specialist in Adult Psychiatric and Mental Health
          - Clinical Nurse Specialist in Child and Adolescent Psychiatric and Mental Health
          - Clinical Psychology
          - Clinical Pathology/Laboratory Medicine
          - Clinical Social Work
          - Colon and Rectal Surgery
[...]
